$--dark: #212529;
$--default: #fff;
$---background: rgb(17, 38, 43);
$---green-gray: rgb(82, 103, 108);
$--extras: rgb(241, 209, 35);

// fonts
$--Noto:  'Noto Sans JP', sans-serif;
$--DynaPuff:  'DynaPuff', cursive;
$--JosefinSans: 'Josefin Sans', sans-serif;