$--primary: #7990a7;
$--white: #fff;
$---background: rgb(240, 235, 235);
$---green-gray: rgb(82, 103, 108);
$--extras: rgb(134, 134, 134);

// fonts
$--Noto:  'Noto Sans JP', sans-serif;
$--Poppins:  'Poppins', sans-serif;
$--JosefinSans: 'Josefin Sans', sans-serif;
$--Ubuntu: 'Ubuntu Mono', monospace;
$--Kanit: 'Kanit', sans-serif;
// $--dark: #212529;
// $--default: #fff;
// $---background: rgb(17, 38, 43);
// $---green-gray: rgb(82, 103, 108);
// $--extras: rgb(241, 209, 35);
