* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  margin: auto;
  scroll-behavior: smooth;
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #fff;
  line-height: 1.6;
  word-wrap: break-word;
  background-color: rgb(17, 38, 43);
}

a {
  color: #212529;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style-type: none;
}

div,
button,
h1, h2, h3, h4, h5, h6,
span, p {
  margin: 0;
}

h1 {
  font-family: "DynaPuff", cursive;
  text-transform: uppercase;
  font-size: 6vw;
}

h2 {
  font-family: "DynaPuff", cursive;
  font-size: 2rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 1000px) {
  h2 {
    font-size: 1.2rem;
  }
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: Capitalize;
}
@media only screen and (max-width: 1000px) {
  h3 {
    font-size: 1rem;
  }
}

h4 {
  text-transform: uppercase;
  font-family: "DynaPuff", cursive;
  font-size: 1rem;
}
@media only screen and (max-width: 1000px) {
  h4 {
    font-size: 0.8rem;
  }
}

p {
  text-align: justify;
}

input,
select,
textarea {
  margin: auto;
  width: 80%;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.8rem 0.5rem;
  border: 1px solid rgb(241, 209, 35);
  border-radius: 0.3rem;
  color: #212529;
  resize: none;
}
@media only screen and (max-width: 1000px) {
  input,
select,
textarea {
    width: 100%;
    font-size: 16px;
  }
}

input[type=submit] {
  font-family: "DynaPuff", cursive;
  font-weight: 1000;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  input[type=submit] {
    font-weight: 100;
  }
}

button {
  font-family: "DynaPuff", cursive;
  font-size: 1rem;
  width: 120px;
  border: none;
  font-weight: 1000;
  text-transform: uppercase;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  button {
    font-weight: 100;
  }
}

.container {
  margin: auto;
  width: 80%;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 2rem;
  flex-wrap: wrap;
}
.container .container--cards {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  margin: auto;
  width: 470px;
  height: 500px;
  box-shadow: 5px 5px 12px rgb(17, 47, 47), -5px -5px 12px rgb(40, 65, 65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-items: flex-start;
  border: solid rgb(241, 209, 35);
  border-radius: 0.5rem;
  padding: 1rem;
  transition: all 1000ms;
}
.card:hover {
  transform: scale(1.02);
}
.card h2 {
  border-bottom: 1px double;
}
.card i {
  text-align: justify;
}
.card .details > div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-block: 0.5rem;
  margin: 0;
}
.card button {
  margin: auto;
  font-style: italic;
  padding: 0;
  width: 50%;
  font-family: "Noto Sans JP", sans-serif;
  text-transform: lowercase;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
  margin: auto;
  padding-block: 1rem;
  background-color: rgb(82, 103, 108);
  z-index: 1;
  left: 0;
  top: 15px;
  right: 0;
}
.modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.fire {
  border: solid rgb(82, 103, 108);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-items: flex-start;
}/*# sourceMappingURL=style.css.map */