@import './variables';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
@mixin mediaQuery($size){
    @media only screen and (max-width: $size){
        @content;
    }
}

@mixin containerMobile{
    width: 100%;
}

@mixin border{
    border: 1px solid $--extras;
    border-radius: 0.3rem;
}

html, body{
    margin: auto;
    scroll-behavior: smooth;
    font-family: $--Noto;
    // color: $--white;
    width: 100%;
    height: 100%;
    background-color: $--white;
    line-height: 1.6;
    word-wrap: break-word;
    background-color: $---background;
}
a{
    color: $--primary;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
img{
    display: block;
    max-width: 100%;
    object-fit: cover;
}
ul{
    list-style-type: none;
}
div,
button,
h1,h2,h3,h4,h5,h6,
span,p{
    margin: 0;
}
h1{
    font-family: $--Poppins;
    text-transform: uppercase;
    font-size: 6vw;
}
h2{
    color: $--primary;
    font-family: $--Poppins;
    font-size: 2rem;
    text-transform: uppercase;

    @include mediaQuery(1420px){
        font-size: 1.6rem;
    }
    @include mediaQuery(890px){
        font-size: 1.5rem;
    }
    
}
h3{
    font-family: $--Poppins;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 1px;

    @include mediaQuery(1000px){
        font-size: 1rem;
    }
}
h4{
    text-transform: uppercase;
    font-family: $--Poppins;
    font-size: 1rem;

    @include mediaQuery(1000px){
        font-size: 0.8rem;
    }
}
p{
    font-size: 1.3rem;
    text-align: justify;
    color: $--primary;
    font-family: $--Ubuntu;
    font-weight: 900;
}
span{
    // font-size: ;
}
input, 
select,  
textarea{
    margin: auto;
    width: 80%;
    font-family: $--Ubuntu;
    font-size: 1.2rem;
    padding: 0.8rem 0.5rem;
    @include border;
    color: $--primary;
    resize: none;

    @include mediaQuery(1000px){
        width: 100%;
        font-size: 16px;
    }
}
input[type=submit]{
    font-family: $--Poppins;
    font-weight:1000;
    cursor: pointer;

    @include mediaQuery(1000px){
        font-weight: 100;
    }
}
button{
    font-family: $--Poppins;
    font-size: 1rem;
    width: 120px;
    border: none;
    font-weight: 1000;
    text-transform: uppercase;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: $--primary;
    color: $--white;

    @include mediaQuery(1000px){
        font-weight: 100;
    }
}

// COMPONENTS STYLING

// NAV component
nav{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $--primary;
    padding-inline: 1rem;
    z-index: 2;

    h2{
        color: $--white;
    }
}
// CONTAINER Component
.container{
    margin: auto;
    width: 80%;
    margin-top: 5rem;
    @include flex(column);
    gap: 2rem;
    flex-wrap: wrap;

    .container--cards{
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;

        @include mediaQuery(1420px){
            grid-template-columns: 1fr 1fr;
        }
        @include mediaQuery(925px){
            grid-template-columns: 1fr;
        }
        
    }
}
// CARD Component
.card{
    margin: auto;
    width: 470px;
    height: 530px;
    box-shadow: 5px 5px 10px rgb(211, 224, 224),
                -5px -5px 10px rgb(151, 149, 149);
    @include flex(column);
    align-items: flex-start;
    // border: solid $--extras;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: all 1000ms;

    @include mediaQuery(1020px){
        width: 450px;
    }
    @include mediaQuery(960px){
        width: 440px;
    }
    @include mediaQuery(925px){
        width: 500px;
        height: 100%;
    }
    @include mediaQuery(600px){
        width: 90%;
    }

    

    &:hover{
        transform: scale(1.02);
    }

    h2{
        border-bottom: 1px double;
    }

    i{
        text-align: justify;
    }

    .details{
        
        & > div{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-block: 0.3rem;
            margin: 0;
            gap: 1rem;
        }
    }
    button{
        margin: auto;
        padding: 5px;
        width: 50%;
        font-family: $--Ubuntu;
        text-transform: lowercase;
    }
}

// MODAL component
.modal{
    position: absolute;
    @include flex(column);
    width: 50%;
    margin: auto;
    padding: 1rem;
    background-color: #5b7997;
    z-index: 1;
    left: 0;
    top: 5rem;
    right: 0;

    @include mediaQuery(925px){
        width: 80%;
    }

    form{
        @include flex(column);
        width: 100%;
    }
}

.fire{
    border: solid $--primary;
    width: 50%;
    @include flex(column);
    align-items: flex-start;
}